.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 16px;
  height: 16px;
  border: 2px solid var(--blue);
  background-color: transparent;
}

.isActive {
  background-color: var(--purple-dark);
  border: none;
}