.wrapper {
    max-width: 46rem;
    margin: -1.6875rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .wrapper {
        margin: 1rem;
    }
}